export(VDJ)
export(callClones)
export(combineChains)
export(readVDJ_10X)
exportClasses(VDJ)
exportMethods(combineChains)
exportMethods(readVDJ_10X)
importFrom(magrittr,"%>%")
importFrom(methods,new)
importFrom(methods,setClass)
importFrom(methods,setGeneric)
importFrom(methods,setMethod)
importFrom(rlang,.data)
importFrom(utils,read.csv)
